apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: kafka-demo
type: Opaque
stringData:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: postgres123
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-init
  namespace: kafka-demo
data:
  init.sql: |
    CREATE DATABASE hr_events_db;
    CREATE DATABASE employment_events_db;
    CREATE DATABASE security_events_db;
    CREATE DATABASE projections_db;
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-kafka
  namespace: kafka-demo
spec:
  serviceName: postgres
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16-alpine
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: postgres-secret
          volumeMounts:
            - name: postgres-data
              mountPath: /var/lib/postgresql/data
            - name: init-scripts
              mountPath: /docker-entrypoint-initdb.d
          resources:
            limits:
              memory: "512Mi"
              cpu: "500m"
      volumes:
        - name: init-scripts
          configMap:
            name: postgres-init
  volumeClaimTemplates:
    - metadata:
        name: postgres-data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: kafka-demo
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
